# Immo üè†

Real estate prices in Paris

In [4]:
code = 75115
url = "https://26yrburrn0.execute-api.eu-west-3.amazonaws.com/dev/dvf?code_commune="+str(code)

In [6]:
import requests as rq
r = rq.get(url)
json = r.json()

In [8]:
json.keys()

dict_keys(['adresse_code_voie', 'adresse_nom_voie', 'adresse_numero', 'adresse_suffixe', 'ancien_code_commune', 'ancien_id_parcelle', 'ancien_nom_commune', 'code_commune', 'code_departement', 'code_nature_culture', 'code_nature_culture_speciale', 'code_postal', 'code_type_local', 'date_mutation', 'id_mutation', 'id_parcelle', 'latitude', 'longitude', 'lot1_numero', 'lot1_surface_carrez', 'lot2_numero', 'lot2_surface_carrez', 'lot3_numero', 'lot3_surface_carrez', 'lot4_numero', 'lot4_surface_carrez', 'lot5_numero', 'lot5_surface_carrez', 'nature_culture', 'nature_culture_speciale', 'nature_mutation', 'nom_commune', 'nombre_lots', 'nombre_pieces_principales', 'numero_disposition', 'numero_volume', 'surface_reelle_bati', 'surface_terrain', 'type_local', 'valeur_fonciere'])

In [ ]:
json['valeur_fonciere']

In [12]:
dvf = pd.DataFrame(json)
dvf.head()

,adresse_code_voie,adresse_nom_voie,adresse_numero,adresse_suffixe,ancien_code_commune,ancien_id_parcelle,ancien_nom_commune,code_commune,code_departement,code_nature_culture,...,nature_mutation,nom_commune,nombre_lots,nombre_pieces_principales,numero_disposition,numero_volume,surface_reelle_bati,surface_terrain,type_local,valeur_fonciere
10877,3705,RUE FONDARY,37.0,NaN,NaN,NaN,NaN,75115,75,NaN,...,Vente,Paris 15e Arrondissement,2,3.0,1,NaN,62.0,NaN,Appartement,607500.0
10878,6105,RUE MARMONTEL,8.0,NaN,NaN,NaN,NaN,75115,75,NaN,...,Vente,Paris 15e Arrondissement,2,2.0,1,NaN,37.0,NaN,Appartement,573721.0
10879,4147,RUE GEORGES PITARD,15.0,NaN,NaN,NaN,NaN,75115,75,NaN,...,Vente,Paris 15e Arrondissement,1,0.0,1,NaN,50.0,NaN,Local industriel. commercial ou assimil√©,233000.0
10880,5456,RUE LECOURBE,171.0,NaN,NaN,NaN,NaN,75115,75,NaN,...,Vente,Paris 15e Arrondissement,1,0.0,1,NaN,NaN,NaN,D√©pendance,30000.0
10881,5456,RUE LECOURBE,18.0,NaN,NaN,NaN,NaN,75115,75,NaN,...,Vente,Paris 15e Arrondissement,1,0.0,1,NaN,NaN,NaN,D√©pendance,690000.0